body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(62% 75% at 110% 103.5%, rgba(135, 135, 144, 1) 0%, rgba(44, 30, 30, 0.18) 96%),
    radial-gradient(105% 100% at 22.5% 24%, rgba(255, 255, 255, 0.61) 0%, rgba(177, 170, 189, 1) 100%);
  min-height: 100vh;
  min-width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#container {
  margin: 50px auto;
  width: 770px;
}

#weekdays {
  width: 100%;
  display: flex;
  color: #2e0e02;
}

#weekdays div {
  width: 110px;
  padding: 10px;
  text-align: center;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#calendarHeader {
  display: flex;
}

.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: #e8faed;
}

.currentDay {
  background-color: #e8f4fa;
}

.event {
  font-size: 15px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}

.padding {
  cursor: default !important;
  background-color: #fffcff !important;
  box-shadow: none !important;
  opacity: 0%;
}

#newEventModal,
#deleteEventModal {
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}

#nextButton,
#backButton {
  margin: 0;
  padding: 0;
  border: none;
  color: #212529;
  font-size: 35px;
  width: 45px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  float: right;
  align-self: flex-end;
}

#nextButton:hover,
#backButton:hover {
  color: #0d6efd;
}

#monthDisplay {
  align-self: flex-start;
  flex-grow: 1;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

.navbar-text {
  color: white;
}

#edit-btn {
  align-self: flex-end;
  margin-right: 5px;
}

#delete-btn {
  align-self: flex-end;
}

.navbar-brand:hover {
  color: white;
}

.add-event-btn {
  align-self: flex-end;
  margin-right: 45px;
}

.close {
  border: none;
  width: 35px;
  height: 35px;
  color: white;
  font-size: 20px;
  background-color: #dc3545;
  border-radius: 5px;
}

.list-group-item {
  display: flex;
}

.event-title {
  flex-grow: 1;
}

#edit-label {
  font-size: 20px;
  margin-right: 10px;
}

@media only screen and (max-width: 450px) {
  #container {
    margin: 5px auto;
    width: 370px;
  }

  #weekdays div {
    width: 55px;
    padding: 5px;
    font-size: 14px;
  }

  #monthDisplay {
    font-size: 24px;
  }

  .add-event-btn {
    font-size: 14px;
    margin: auto;
  }

  .day {
    width: 48px;
    padding: 2px;
    height: 70px;
    margin: 2px;
  }

  .event {
    font-size: 10px;
  }
}

@media only screen and (max-width: 280px) {
  #container {
    width: 280px;
  }

  .navbar-brand {
    font-size: 18px;
  }

  #monthDisplay {
    font-size: 18px;
  }

  #backButton,
  #nextButton {
    font-size: 25px;
    width: 35px;
  }

  .add-event-btn {
    font-size: 10px;
  }

  .day {
    width: 36px;
  }
}
